*.class
*.jar
*.war
*.ear
*.iml

.idea
.project
.classpath
.project
.settings
.springBeans
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Generated stuff
generated-java
target
activemq-data
data_IS_UNDEFINED
node
node_modules
package-lock.json
.DS_Store

# Generated Angular code
dist
**/src/main/webapp